.btn {
    padding: 12px 28px;
    background-color: transparent;
    color: var(--neutral-text);
    border-radius: 24px;
    border: solid 1px var(--neutral-text);
    line-height: 120%;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    opacity: 0.6;
}