.aside {
    min-height: 100vh;
    max-width: 282px;
    background-color: var(--neutral-header);
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.footer {
    font-size: 13px;
    line-height: 120%;
    color: var(--neutral-text);
    text-align: center;
}