.card {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.header {
    gap: 8;
    padding: 16px;
    background-color: var(--neutral-header);
    color: var(--neutral-text);
    text-align: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    line-height: 120%;
    font-size: 16px;
    font-weight: 700;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* pegar todo o restante de tamanho */
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: var(--neutral-surface);
    padding: 32px 16px;
}