.container {
    width: 100%;
    background-color: var(--neutral-surface);
    border-radius: 9px;
    padding: 12px 16px;
    display: inline-flex;
    gap: 16px;
    align-items: center;
}

.input {
    font-size: 18px;
    line-height: 120%;
    color: var(--neutral-text);
    flex: 1;
    border: none;
    background-color: transparent;
}