.account {
    display: flex;
    justify-content: space-between;
    color: var(--neutral-text);
}

.account p {
    margin: 0;
    gap: 8px;
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100px;
}

.bank {
    display: flex;
    gap: 8px;
    align-items: top;
}

.account .label {
    font-size: 15px;
    opacity: 0.8;
}