.account {
    display: flex;
    justify-content: space-between;
    color: var(--neutral-text);
}

.account p {
    margin: 0;
    font-size: 15px;
    line-height: 120%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100px;
}

.bank {
    display: flex;
    gap: 8px;
    align-items: center;
}