:root {
    /* Neutral colors */
    --neutral-darker: #1C1D21;
    --neutral-background: #212229;
    --neutral-surface: #2A2C34;
    --neutral-header: #33353F;
    --neutral-text: #F5F5F5;

    /* Primary colors */
    --primary-highlight: #7693FF;

    /* Secondary colors */
    --secondary-income: #D6FF62;
    --secondary-expense: #F87828;
}

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--neutral-background);
}